@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');

header{
    height: 200px;
    background-color: darkgrey;
    position: fixed;
    top: 0;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1{
    font-family: 'Kirang Haerang', cursive;
    font-size: 40pt;
}

header nav a{
    transition: 10s;
    transition-timing-function: linear;
}

header nav a:hover{
    transform: rotate(360deg);
}